<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
<div>
        <nav>
            <a class="anchor" href="/">Home</a>
            <a class="anchor" href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
            <a class="anchor" href="/logout">Logout</a>
            {{else}}
            <a class="anchor" href="/login">Login</a>
            {{/if}}
        </nav>
        {{#if username}}
            <h1 id="welcomeName" class='fs-5' data-user-id="{{user_id}}">Hello {{username}}</h1>
        {{/if}}
   </div>
    {{{ body }}}
</body>
</html>