{{>yourdashboard-header}}
<main id="homepage_background">
    <div id="yourPostsContainer">
        <div>
            <h3></h3>
            <h3></h3>
        </div>
    </div>
    <button id="createPostButton">+ New Post</button>
</main> 