{{>techblog-header}}
<main id="homepage">
    <div>
        <h2>Edit Post</h2>
        <form>
            <div>
                <div>
                    <label for="#editTitle">Title</label>
                    <input type="text" id="editTitle">
                </div>
                <div>
                   <label for="#editContent">Content</label>
                    <textarea rows="3" id="editContent"></textarea>
                </div>
            </div>
            <div>
                <input type="submit" id="updatePostButton" value="Update Post">

                <input type="submit" id="deletePostButton" value="Delete">
            </div>
        </form>
    </div>
</main> 
</main>

<script src="/js/editpost.js"></script>