{{>techblog-header}}
<main id="homepage">
    <div>
        <h2>Edit Post</h2>
        <form>
            <div>
                <div>
                    <label for="#usernameSignIn">Title</label>
                    <input type="text" id="usernameSignIn">
                </div>
                <div>
                    <label for="#passwordSignIn">Content</label>
                    <textarea rows="3"></textarea>
                </div>
            </div>
            <div>
                <input type="submit" id="updatePostButton" value="Update Post">

                <input type="submit" id="deletePostButton" value="Delete">
            </div>
        </form>
    </div>
</main> 