{{>techblog-header}}
<main id="homepage">
    {{#each posts as |post|}}
    <div class="post">
        <div>
<h2 class="post_title" data-post-id="{{id}}">What is Javascript?</h2>
            <h6 class="post_info">Posted by {{user.user}} on {{createdAt}}</h6>
        </div>
<h3 class="post_description">{{description}}</h3>
</div>
 {{/each}}
</main>

<script src="js/seeThread.js"></script>