{{>techblog-header}}
<main id="homepage_background" class="d-flex flex-column gap-4 flex-no-wrap overflow-scroll">
    <div class="post">
        <div class="d-flex justify-content-between align-items-end post_header">
            <h2 class="post_title">What is javascript?</h2>
            <h6 class="post_info">Posted by Vn135766</h6>
        </div>
        <h3 class="post_description">is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else</h3>
    </div>
</main>