{{>techblog-header}}
<main id="homepage">
    <div>
        <h2 class="post_header">Login</h2>
        <form>
            <div>
                <div>
                    <label for="#usernameSignIn">Username</label>
                    <input type="text" id="usernameSignIn">
                </div>
                <div>
                    <label for="#passwordSignIn">Password</label>
                    <input type="password" id="passwordSignIn">
                </div>
            </div>
            <input type="submit" id="loginButton" value="Login!">
        </form>
        <a href="/signup" class="redirectLink">Sign up instead</a>
    </div>
</main>

<script src="js/login.js"></script> 