{{>techblog-header}}
<main id="homepage">
    <div>
        <h2 class="post_header">Create New Post</h2>
        <form>
            <div>
                <div>
                    <label for="#newPostTitle">Title</label>
                    <input type="text" id="newTitle">
                </div>
                <div>
                    <label for="#newContent">Content</label>
                    <textarea rows="3" id="newContent"></textarea>
                </div>
            </div>
            <input type="submit" id="submitButton" value="Create">
        </form>
    </div>
</main>