{{>techblog-header}}

<main id="homepage_background">
    <div class="post">
        <div>
            <h2 class="post_title"></h2>
            <h6 class="post_info"></h6>
        </div>
        <h3 class="post_description"></h3>
    </div>
    <div class="post">
        <div class="post_header">
        </div>
        <form>
            <div>
                <label for=".commentInput">Comment</label>
                <textarea type="text" rows="3" class="commentInput"></textarea>
            </div>
            <input type="submit" id="submitCommentButton">
        </form>
    </div>
</main> 